{% extends "admin_app/admin.html" %}
{% load static %}
{% block content %}

        {% for message in messages %}

            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-danger">
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success">
            {% endif %}
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
            
                </div>

        {% endfor %}

    <div class="row">
                <div class="col-lg-12">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
		   <div align="left">
		   <h2>Upload Rates</h2>
  <form action="/markup" method='post' enctype="multipart/form-data">
	  </br>
        {% csrf_token %}
        
	<p>Click <a href="{% static 'admin_app/dist/csv/markup.csv' %}">here</a> to download sample csv file.</p>

	<p>Choose File:</p>
    <div class="custom-file mb-6">
      <input type="file" class="custom-file-input" id="customFile" name="filename" required>
      <label class="custom-file-label" for="customFile"></label>
    </div>

	  </br>

      <button type="submit" class="btn btn-primary" onclick="myFunction()" >Upload</button>
    </div>
  </form>
</div>
	   </div>
	    
	    <p id="demo"></p>


{% block javascripts %}
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
function myFunction() {
  var x = document.getElementById("myFile").required;
  document.getElementById("demo").innerHTML = x;
}

</script>




{% endblock %}
{% endblock content %}
